---
import 'styles/base.scss';

import { ClientRouter } from 'astro:transitions';
import { build_title, format_date } from '@/fns';
import { k_avatar_url, k_author } from '@/consts.js';
import { AstroSeo } from '@astrolib/seo';

export type Props = {
	mb_created?: Date;
	mb_modified?: Date;
	mb_title?: string;
	mb_description?: string;
};

const static_date = new Date();
const {
	mb_created = static_date,
	mb_modified = static_date,
	mb_title = "Conrad Hpang's blogs",
	mb_description = "Conrad Hoang's personal website",
} = Astro.props;

const socials = ['https://keybase.io/tcmhoang', 'https://github.com/tcmhoang'];

const ld = {
	'@context': 'https://schema.org',
	'@type': ['Person'],
	name: `${k_author}`,
	url: `${Astro.url}`,
	image: `${k_avatar_url}`,
	additionalName: 'Conrad Hoang',
	givenName: 'Tuan',
	familyName: 'Hoang',
	gender: 'male',
	jobTitle: 'Software Engineer',
	logo: {
		'@type': 'ImageObject',
		url: `${Astro.url}images/favicon-32x32.png`,
		width: 32,
		height: 32,
	},
	sameAs: [`${socials.join(', ')}`],
};
const ld_script = `<script type="application/ld+json">${JSON.stringify(ld)}${'<'}/script>`;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1,shrink-to-fit=no"
		/>
		<meta name="author" content="Conrad Hoang" />
		<meta name="theme-color" content="#F9E2AF" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/images/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/images/favicon-32x32.png"
		/>
		<link rel="shortcut icon" href="/images/favicon-32x32.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/images/favicon-16x16.png"
		/>
		<link rel="icon" href="/icons/favicon.ico" type="image/x-icon" />
		<link
			rel="icon"
			href="/images/android-chrome-192x192.png"
			type="image/png"
			sizes="192x192"
		/>
		<link
			rel="icon"
			href="/images/android-chrome-512x512.png"
			type="image/png"
			sizes="512x512"
		/>
		<link rel="icon" type="image/svg+xml" href="/icons/icon.svg" />
		<link rel="manifest" href="/manifest.json" />
		<meta property="og:type" content="website" />
		<ClientRouter />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="Conrad Hoang's digitial attic"
			href={new URL('rss.xml', Astro.site)}
		/>

		<meta name="DC.Date" content={format_date(mb_created)} />
		<meta name="DC.Date.modified" content={format_date(mb_modified)} />
		<meta name="DC.title" content={mb_title} />
		<meta name="DC.Creator" content="Conrad Hoang" />
		<meta name="DC.Language" content="en" />
		<title>{build_title(mb_title)}</title>
		<meta name="description" content={mb_description} />
		<meta
			name="keywords"
			content={['Portfolio', 'Blog', 'Person'].join(', ')}
			}
		/>
		<meta name="author" content={k_author} />

		<meta
			property="og:logo"
			content={`${Astro.url}images/favicon-32x32.png`}
		/>

		<Fragment set:html={ld_script} />

		<AstroSeo
			canonical={Astro.url.toString()}
			noindex={false}
			,
			nofollow={true}
			,
			openGraph={{
				url: Astro.url.toString(),
				title: mb_title,

				description: mb_description,
				locale: 'en-US',
				profile: {
					firstName: 'Conrad',
					lastName: 'Hoang',
					gender: 'Male',
					username: 'tcmhoang',
				},
				site_name: 'Spark point',
				type: 'website',
			}}
			robotsProps={{
				noarchive: true,
				noimageindex: true,
				nosnippet: true,
			}}
		/>

		<Fragment set:html={ld_script} />

		<slot name="additional_head" />
	</head>

	<body>
		<div style="display: contents"><slot /></div>
	</body>
</html>
